## Hands-on dataframes with Python 3
 Editor: Saeid Sharify  
 Date: 2021/10/14

In [122]:
import pandas as pp
# read the data
data = pp.read_csv('lsd-math-score-data.csv')
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [123]:
type(data)

pandas.core.frame.DataFrame

In [124]:
# a list of cool people
# cool_prople = ['Bob', 'Jean', 'Fontaine', 'Value']
# type(cool_prople)

In [125]:
# call a column from the dataframe
onle_LSD_ppm = data['LSD_ppm']
onle_LSD_ppm

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [126]:
type(onle_LSD_ppm)

pandas.core.series.Series

In [127]:
# add a column to the dataframe
data['new_column'] = 0
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  new_column
0                      5     1.17                78.93           0
1                     15     2.97                58.20           0
2                     30     3.26                67.47           0
3                     60     4.69                37.47           0
4                    120     5.83                45.65           0
5                    240     6.00                32.92           0
6                    480     6.41                29.97           0

In [128]:
# copy values of a column to the new column
data['Time_delay_in_Seconds'] = 0
data['Time_delay_in_Seconds'] = data['Time_Delay_in_Minutes'] * 60

In [129]:
data['Time_delay_in_Seconds']

0      300
1      900
2     1800
3     3600
4     7200
5    14400
6    28800
Name: Time_delay_in_Seconds, dtype: int64

In [130]:
# power of 2
# data['Time_delay_in_Seconds'] = (data['Time_delay_in_Seconds']) ** 2 
# data['Time_delay_in_Seconds']

In [131]:
# filter dataframe
filter_xy = ['LSD_ppm', 'Avg_Math_Test_Score']
filtred_data = data [filter_xy]
filtred_data

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [132]:
# filter dataframe 1
# filter_xy = ['LSD_ppm', 'Avg_Math_Test_Score']
filtred_data = data [['LSD_ppm', 'Avg_Math_Test_Score']]
filtred_data

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [133]:
type(filtred_data)

pandas.core.frame.DataFrame

In [134]:
new_filter = data [['Avg_Math_Test_Score']]
new_filter

   Avg_Math_Test_Score
0                78.93
1                58.20
2                67.47
3                37.47
4                45.65
5                32.92
6                29.97

In [135]:
type(new_filter)

pandas.core.frame.DataFrame

In [136]:
LSD_ppm_filter = data [['LSD_ppm']]
print(LSD_ppm_filter)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [137]:
type(LSD_ppm_filter)

pandas.core.frame.DataFrame

In [138]:
# delete a column from dataframe
del data ['new_column']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Time_delay_in_Seconds
0                      5     1.17                78.93                    300
1                     15     2.97                58.20                    900
2                     30     3.26                67.47                   1800
3                     60     4.69                37.47                   3600
4                    120     5.83                45.65                   7200
5                    240     6.00                32.92                  14400
6                    480     6.41                29.97                  28800